<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :conversation_id %>
    <%= form.text_field :conversation_id, id: :message_conversation_id %>
  </div>

  <div class="field">
    <%= form.label :sender_id %>
    <%= form.text_field :sender_id, id: :message_sender_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :message_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
