<div class="container">
  <% if @conversation.buyer == current_user %>
    <h2><%= title "#{@conversation.seller.user.profile.username}" %></h2>
  <% else %>
    <h2><%= title "#{@conversation.buyer.profile.username}" %></h2>
  <% end %>

  <% if !@messages.nil? %>
    <% @messages.each do |message| %>
    <div>
      <p><%= format_time(message.created_at) %></p>
      <div>
        <p><%= message.sender.profile.username %></p>
        <p><%= message.content %></p>
      </div>
    </div>
    <% end %>
  <% end %>

  <%= render 'form', message: @message %>

</div>
