<div class="bg-container">
  <div class="d-flex flex-column p-3">
    <div class="p-2">
      <h2><%= title 'Profile' %></h2>
    </div>
  </div>
  
  <!-- Account section -->
  <div class="d-flex flex-row justify-content-sm-around justify-content-between p-3">
    <div class="p-2">
      <h3>Account</h3>
    </div>
    <div class="p-2">
      <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-block btn-outline-dark' %>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-md-around p-3">
    <div class="p-2">
      <figure>
        <%= image_tag @profile.image_url(:thumb), alt: "#{@profile.username}"  %>
      </figure>
    </div>
    <div class="p-2">
      <p>
        <strong>Username</strong>
        <%= @profile.username %>
      </p>

      <p>
        <strong>Name</strong>
        <%= @profile.first_name %> <%= @profile.last_name %>
      </p>

      <p>
        <strong>Buyer rating</strong>
      </p>
      <%= link_to 'Change password', edit_user_registration_path(current_user), class: 'font-weight-bold' %>
    </div>
  </div>

  <!-- Addresses section -->
  <div class="d-flex flex-column flex-md-row justify-content-md-around p-3">
    <div class="p-2">
      <h4>Billing address</h4>
    </div>

    <div class="p-2">
      <h4>Shipping address</h4>
    </div>
  </div>

  <!-- Store details section -->
  <% if !@profile.user.products.empty? %>
    <div class="d-flex flex-column flex-md-row justify-content-md-around p-3">
      <div class="p-2">
        <h3>Store details</h3>
        <p>
          <strong>Username</strong>
          <%= @profile.username %>
        </p>
        <p><strong>Total inventory</strong>
          <%= @profile.user.products.count - @profile.user.products.orders.count %>
        </p>
      </div>
      <div class="p-2">
        <%= link_to 'View store', root_path, class: 'btn btn-block btn-outline-dark' %>
        <%= link_to 'Add product', new_product_path, class: 'btn btn-block btn-outline-dark' %>
      </div>
    </div>

    <!-- Store orders section -->
    <div class="d-flex flex-column p-3">
      <div class="p-2">
        <h3>Store orders</h3>
      </div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-md-around p-3">
      <% @profile.user.products.each do |product| %>
        <% if product.order %>
          <div class="p-2">
            <%= link_to order_path(product.order) do %>
              <h4><%= product.title %></h4>
              <p><%= format_amount(product.price_cents) %></p>
              <p><%= format_date(order.created_at) %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Store inventory section -->
    <div class="d-flex flex-column p-3">
      <div class="p-2">
        <h3>Store inventory</h3>
      </div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-md-around p-3">
      <% @profile.user.products.each do |product| %>
        <% if !product.order %>
          <div class="p-2">
            <%= link_to product do %>
              <h4><%= product.title %></h4>
              <p><%= format_amount(product.price_cents) %></p>
            <% end %>
            <% if current_user == product.user %>
              <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-block btn-outline-dark' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end  %>

  <!-- Order history (sellers is your purchases) section -->
  <div class="d-flex flex-column flex-md-row justify-content-md-around p-3">
    <div class="p-2">
      <% if @profile.user.products  %>
        <h3>Your purchases</h3>
      <% else %>
        <h3>Order History</h3>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-md-around p-3">
    <% @orders.each do |order| %>
      <div class="p-2">
        <p><strong>Title</strong> <%= order.product.title %></p>
        <p><strong>Artist</strong> <%= order.product.artist %></p>
        <p><strong>Price</strong> <%= format_amount(order.product.price_cents) %></p>
        <p><strong>Ordered</strong> <%= format_date(order.created_at) %></p>
      </div>
    <% end %>
  </div>
  
  <!-- Wishlist section -->
  <div class="d-flex flex-column p-3">
    <div class="p-2">
      <h3>Wishlist</h3>
      <p>You currently have not yet saved any products to your wishlist</p>
    </div>
  </div>

  <!-- Saved sellers -->
  <div class="d-flex flex-column p-3">
    <div class="p-2">
      <h3>Saved sellers</h3>
      <p>You currently do not have any saved sellers</p>
    </div>
  </div>

</div>
