<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<%= form_with(model: @artist, local: true) do |form| %>
  <%= form.label :name, 'Search for an artist' %>
  <%= form.text_field :name %>
  <%= form.submit 'Search' %>
<% end %>

<%= @search_results %>

<%= link_to 'New Artist', new_artist_path %>
