<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<%= form_with url: artists_path, local: true, method: :get do |f| %>
  <%= f.label :query, 'Search for an artist' %>
  <%= f.text_field :query %>
  <%= f.submit 'Search' %>
<% end %>

<%= @search_results %>

<%= link_to 'New Artist', new_artist_path %>
