<h2><%= title 'Inbox' %></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Conversation</th>
      <th scope="col">About</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <% if current_user == conversation.buyer %>
          <td><%= conversation.seller.user.profile.username %></td>
        <% else %>
          <td><%= conversation.buyer.profile.username %></td>
        <% end %>
        <td><%= conversation.seller.title %></td>
        <td><%= link_to 'View conversation', conversation_messages_path(conversation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
