<% if @conversation.buyer == current_user %>
  <h2><%= @conversation.seller.profile.username %></h2>
<% else %>
  <h2><%= @conversation.buyer.profile.username %></h2>
<% end %>

<% @messages.each do |message| %>
  <div>
    <p><%= format_time(message.created_at) %></p>
    <div>
      <p><%= message.sender.name %></p>
      <p><%= message.content %></p>
    </div>
  </div>
<% end %>
<br>

<%= render 'messages/form', message: @message %>
