<%= form_with(model: release, local: true) do |form| %>
  <% if release.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(release.errors.count, "error") %> prohibited this release from being saved:</h2>

      <ul>
      <% release.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :release_title %>
  </div>

  <div class="field">
    <%= form.label :catalogue_number %>
    <%= form.text_field :catalogue_number, id: :release_catalogue_number %>
  </div>

  <div class="field">
    <%= form.label :format %>
    <%= form.text_field :format, id: :release_format %>
  </div>

  <div class="field">
    <%= form.label :country_code %>
    <%= form.text_field :country_code, id: :release_country_code %>
  </div>

  <div class="field">
    <%= form.label :released_at %>
    <%= form.date_select :released_at, id: :release_released_at %>
  </div>

  <div class="field">
    <%= form.label :image_data %>
    <%= form.text_area :image_data, id: :release_image_data %>
  </div>

  <div class="field">
    <%= form.label :artist_id %>
    <%= form.text_field :artist_id, id: :release_artist_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
