<p id="notice"><%= notice %></p>

<h1>Releases</h1>

<%= form_with url: artist_releases_path(@artist), local: true, method: :get do  |form| %>
  <%= form.label :query, 'Search for a release' %>
  <%= form.text_field :query %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<%#= render @release_results %>
<% if @release_data %>
  <% @release_data.each do |release| %>
    <div>
      <p><%= release['title'].split(' - ').last %></p>
      <% release['format'].each do |label| %>
        <ul>
          <li><%= label %></li>
        </ul>
      <% end %>
      <p><%= release['year'] %></p>
      <% release['label'].each do |label| %>
        <ul>
          <li><%= label %></li>
        </ul>
      <% end %>
      <% release['genre'].each do |label| %>
        <ul>
          <li><%= label %></li>
        </ul>
      <% end %>
      <p><%= release['country'] %></p>
      <p><%#= button_to 'Sell Record' new_product_path %></p>
    </div>
  <% end %>
<% end %>

<%#= link_to 'New Release', new_release_path %>
