<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Records for sale</h2>
  <%= render 'search' %>

  <%= render 'sort' %>

  <%= render 'filter' %>

  <div class="container">
    <% @products.in_groups_of(4, false) do |group| %>
      <div class="row">
        <% group.each do |product| %>
          <div class="col-3">
            <%= link_to product do %>
              <h2><%= product.title %></h2>
              <p><%= product.artist %></p>
              <p><%= format_amount(product.price_cents) %></p>
            <% end %>
            <% if current_user == product.user %>
              <%= link_to 'Edit', edit_product_path(product) %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="pull-right">
    <%= paginate @products %>
  </div>
  <div class="pull-left">
    <%= link_to 'Got a record to sell?', new_product_path %>
  </div>
</div>
