<p id="notice"><%= notice %></p>

<h1><%= @release_data['title'] %></h1>
<h2><%= @release_data['artists'][0]['name'] %></h2>
<p>
  <%= @release_data['labels'][0]['name'] %> <%= @release_data['country'] %> (<%= @release_data['year'] %>)
</p>

<figure>
  <%= image_tag @release_data['thumb'] %>
</figure>

<p><%= number_to_currency @product.price %></p>
<p>+ <%= number_to_currency @product.postage %></p>

<button type="button" name="button">Add to Bag</button>

<h3>Description</h3>
<p><%= @product.description %></p>

<h3>Condition</h3>
<dl>
  <dt>Record condition</dt>
  <dd><%= @product.record_condition %></dd>
  <dt>Sleeve condition</dt>
  <dd><%= @product.sleeve_condition %></dd>
</dl>

<h3>Seller</h3>
<p><strong><%= link_to @product.user.profile.username, profile_path(@product.user.profile) %></strong></p>
<p>98.3% | 356 reviews</p>
<p>Save seller</p>
<p>
  Record ships from United Kingdom. Payment accepted by Credit Card.
</p>
<p>View Shipping and Payment Information</p>

<% if user_signed_in? %>
  <% if current_user.id == @product.user_id %>
    <%= link_to 'View Conversations', profile_conversations_path(@product.user.profile) %> |
  <% else %>

    <% if @active_conversation %>
      <!-- If there is an existing conversation, display link to send a message to the host -->
      <%= link_to 'Contact Seller', new_conversation_message_path(@active_conversation) %> |
    <% else %>
      <!-- Otherwise display button to start a conversation with the host -->
      <%= form_with(model: [@product, Conversation.new], local: true) do |form| %>
        <div>
          <%= form.button 'Contact Seller', class: 'btn btn-outline-dark' %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<h3>Tracklist</h3>
<% @release_data['tracklist'].each do |track| %>
  <ul>
    <li><%= track['title'] %> (<%= track['duration'] %>)</li>
  </ul>
<% end %>

<h3>Shipping &amp; Postage</h3>
<p>Orders will be cancelled if payment is not received within 14 days.</p>

<h4>UK Postage</h4>
<p>1st LP or 12" or 10"- £3.50 (any extra will be another £1.00)</p>

<h4>Europe Postage</h4>
<p>1st LP or 12" or 10"- £6.50 (any extra will be another £2.00)</p>

<h4>International Postage</h4>
<p>1st LP or 12" or 10"- £9.99 (any extra will be another £3.00)</p>

<%#= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
