<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Long Play Records' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <div class="d-flex flex-column">
        <div class="p-2">
          <% if notice %>
            <div id="notice" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
              <%= notice %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% elsif alert %>
            <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
              <%= alert %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
